{% extends 'home/base.html'%}

{% load static %}

{% block content %}

<!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
      <h1>Valdecio Tour</h1>
      <p>Lorem ipsum dolor sit ametcursus magna vel scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.nisl consectetur et.</p>
      <a href="#fh5co-why-us" class="btn btn-large">SAIBA MAIS</a> </div>
      <!-- banner text --> 
    </div>
  </div>

</section>
<!--  FIM DA SEÇÃO INICIAL  -->

<!-- BOTÃO DE VOLTA AO TOPO -->
<a id="volta-ao-topo" href="#top" class="glyphicon glyphicon-chevron-up" style="display: block;z-index: 3;"></a> 
<!-- FIM DO BOTÃO DE VOLTA AO TOPO -->



<!-- SEÇÃO QUEM SOMOS 
================================================== -->

<div id="fh5co-why-us" class="animate-box">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h3 class="titulos" id="margem-quemsomos">QUEM SOMOS?</h3> 
        <br>
        <br>
        <p>Start Bootstrap has everything you need to get your new website up and in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
        <br>
        <br>
      </div>
    </div>
  </div>

  <!-- FIM DO QUEM SOMOS -->


  <!-- SEÇÃO POR QUE CONTRATAR A VALDECIO TOUR 
  ================================================== -->

  <div class="container"  style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../../static/images/banner.jpg);width: 100%; background-repeat: no-repeat; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover;">
    <br>
    <br>
   <h3 class="titulos" id="margem-pq" style="text-align: center;color:white !important; margin-top:1%;">POR QUE CONTRATAR A VALDECIO TOUR?</h3> 
   <br>
   <br>

    <div class="col-md-4 text-center item-block" style="padding-top: 5%; padding-bottom: 5%;">        
      <span class="icon">
        <img src="{% static 'images/bar-chart.png' %}" alt="Free HTML5 Templates" class="img-responsive">
      </span>
      <h3 style="color:white;">MOTIVO 1</h3>
      <p style="color:white;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
    </div>

    <div class="col-md-4 text-center item-block" style="padding-top: 5%; padding-bottom: 5%;">
      <span class="icon">
        <img src="{% static 'images/cooperate.png' %}" alt="Free HTML5 Templates" class="img-responsive">
      </span>
      <h3 style="color:white;">MOTIVO 2</h3>
      <p style="color:white;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
    </div>

    <div class="col-md-4 text-center item-block" style="padding-top: 5%; padding-bottom: 5%;">
      <span class="icon">
      <img src="{% static 'images/warning.png' %}" alt="Free HTML5 Templates" class="img-responsive">
      </span>
      <h3 style="color:white;">MOTIVO 3</h3>
      <p style="color:white;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
    </div>
  </div> 
</div>
<!-- FIM DO POR QUE CONTRATAR A VALDECIO TOUR -->


<!-- SEÇÃO PACOTES 
================================================== -->

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <h3 id="packs" style=" text-align:center; padding-top: 2%;" class="titulos" id="margem-pacotes" > 
      CONHEÇA NOSSOS PACOTES
      </h3>
      <br>

      <!-- Botões para realizar o filtro -->
      <div class="controls">
      <div class="filters text-center">
        <ul class="nav nav-pills">
        <li class="active"><a href="#" data-filter="*">Todos</a></li>
        <li><a href="#" data-filter=".ida">Ida</a></li>
        <li><a href="#" data-filter=".idavolta">Ida e Volta</a></li>
        </ul>
      </div>
      <!-- Fim da inserção dos botões -->

      <div class="isotope-container row grid-space-20">
        
        {% for package in packages %}
        <!-- ITEM 1 -->
        <div class="col-lg-3 col-md-6 col-sm-6 work isotope-item {{ package.travel_type }}"> 
          <a href="" class="work-box" data-toggle="modal" data-target="#modal{{ package.slug }}"> 
            <img src="{{ package.image.url }}" alt="" style="height: 300px">
            <!-- overlay --> 
            <div class="overlay">
              <div class="overlay-caption">
                <h5>{{ package.title }}</h5>
                <p>{{ package.travel_date }}</p>
              </div>
            </div>
            <!-- overlay --> 
          </a>
        </div>
        <!-- FIM DO ITEM 1 -->
        {% endfor %}

        <!-- MODAIS PARA SEÇÃO DE PACOTES
        ================================================== -->
		{% if is_valid %}
			<script type="text/javascript">
				alert("Mensagem enviada com sucesso! A Valdecio Tour agradece pelo contato.");
			</script>	
		{% endif %}
		  
		  
        {% for package in packages %}
        <!-- MODAL 1 -->
        <div class="modal fade" id="modal{{ package.slug }}" role="dialog" style="margin:auto">
          <div class="modal-dialog modal-md" id="modal-md">
            <div class="modal-content">
              <div class="col-md-6">
                <img src="{{ package.image.url }}" alt="" style="height: 300px; width:300px;">
              </div>
              <div class="col-md-6" id="right">
                <button type="button" class="close" data-dismiss="modal" style="padding-right: 0px;
            padding-top: 10px;">&times;</button>
                <br>
                <h4 align="center">{{ package.title }}</h4>
                <br>
                <p> {{ package.description|safe|escape }} </p>
                <p><span style="font-weight:700;">Data de Partida:</span> {{ package.travel_date }}</p>
                {% if package.travel_type == "idavolta" %}
                  <p><span style="font-weight:700;">Data de Retorno:</span> {{ package.arrival_date }}</p>
                {% endif %}
                <p><span style="font-weight:700;">Preço:</span> {{ package.price}}</p>
              </div>
              <div class="col-md-12" id="left">
                <br>
                <h4 align="center" style="padding-top: -5px">QUE TAL FAZER SUA RESERVA?</h4>
                <form class="conForm col-md-12" method="POST">
				{% csrf_token %}
				{% for field in subform %}
                	{{ field }}
                	<br>
				{% endfor %}
                <button class="submitBnt" type="submit">Desejo viajar agora</button>
                <br>
                <br>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- FIM DO MODAL 1 -->
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- FIM DA SEÇÃO PACOTES --> 



<!-- SEÇÃO GALERIA
================================================== -->

<div id="gtco-products" data-section="products">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>GALERIA</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
      </div>
    </div>
    <div class="row">
      <div class="owl-carousel owl-carousel-carousel " style="width: 80%; margin-left: 10%;">
       {% for item in gallery %}
        <div class="item">
          <div class="work isotope-item"> 
              <a href="" class="work-box" data-toggle="modal" data-target="#modal-galeria"> 
              <img src={{ item.image.url }} alt="" style="height: 280px">
              <!-- overlay -->
              <div class="overlay">
                <div class="overlay-caption">
                  <h5>{{ item.title }} </h5>
                  <div class="conForm">
					  <button class="submitBnt" width=20>Veja mais</button>
                  </div>
                </div>
              </div>
            <!-- overlay --> 
            </a> 
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- FIM DA SEÇÃO GALERIA -->


  <!-- MODAIS PARA SEÇÃO GALERIA
  ================================================== -->

  <!-- MODAL 1 -->
  <div class="modal fade" id="modal-galeria" role="dialog" style="margin:auto" >
    <div class="modal-dialog modal-md" style="width: 50%; height:50%;" id="modal-md">
      <div class="modal-content" style="height: auto; min-height: 50%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="padding-top: 3%; padding-right: 5%;">&times;</button>
          <br>
          <h4 align="center" style="margin-top: 5%; margin-bottom: 5%">GALERIA</h4>
        </div>
        <div class="modal-body" style="margin">
          <div id="rg-gallery" class="rg-gallery" style="padding: 5% 5%;" >
            <div class="rg-thumbs">
            <!-- Elastislide Carousel Thumbnail Viewer -->
              
                <!--<style>
                  #big-image img{
                    width: auto;
                    height: 350px;
                    margin-top: 60px;
                  }
                </style>

                <div class="row owl-carousel owl-carousel-carousel">
                    
                  {% for img in albuns %}
                      {% if item.id == img.album_id %}
                      <div id="small-images">
                        
                          <img class="thumbnailImage" src="{{ img.image.url }}" data-large="{{ img.image.url }}" />
                        
                      </div>
                      
                         
                      
                     {% endif %}
                   {% endfor %}-->
                   
                   <!--<li>
                      <a href="#">
                        <img src="{% static 'images_carousel/1.jpg' %}" data-large="{% static 'images_carousel/1.jpg' %}" alt="image01" data-description="Some description" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'images_carousel/2.jpg' %}" data-large="{% static 'images_carousel/2.jpg' %}images_carousel/2.jpg" alt="image02" data-description="Some description" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'images_carousel/3.jpg' %}" data-large="{% static 'images_carousel/3.jpg' %}" alt="image03" data-description="Some description" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'images_carousel/4.jpg' %}" data-large="{% static 'images_carousel/4.jpg' %}" alt="image04" data-description="Some description" />
                      </a>
                    </li>-->

                     <!-- Elastislide Carousel Thumbnail Viewer -->
              <div class="es-carousel-wrapper">
                <div class="es-nav">
                  <span class="es-nav-prev">Previous</span>
                  <span class="es-nav-next">Next</span>
                </div>
                <div class="es-carousel">
                  <ul>
                    {% for img in albuns %}
                   <li>
                    <a href="#">
                      <img src="{{ img.image.url }}" data-large="{{ img.image.url }}" />
                    </a>
                  </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
                  
              
            </div><!-- rg-thumbs -->
          </div><!-- rg-gallery -->
          <!-- COMENTÁRIOS DO FACEBOOK -->
          <!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" ></div>-->
          <br>
          <br>
          <div class="fb-comments" data-href="https://barbaravianello.github.io/Valdeciotour" data-numposts="5" style="margin-left: 5%"></div>

          <!-- Fim dos COMENTÀRIOS do FACEBOOK -->   
        </div>
      </div>
    </div>
  </div>
  <!-- FIM DO MODAL 1 -->



<!-- SEÇÃO CONTATO
================================================== -->

<div class="fh5co-contact animate-box">
  <div class="container">
    <div class="row">
      <h3 class="titulos" style="text-align: center;">CONTATO</h3>            
        <div class="contact-info col-md-6" id="contact-number">
          <i class="icon-phone" id="contact-phone"></i><p>+ 1235 2355 98</p>
        </div>
        <div class="contact-info col-md-6">
          <i class="icon-envelope" id="contact-email"></i><a href="#"><p style="color:#6c7279">info@yoursite.com</p></a>
        </div>
    </div>
    <div class="row">
      <!--
      <div class="col-md-3">
        <h3>Contato</h3>
        <ul class="contact-info">
          <li><i class="icon-map"></i><p>198 West 21th Street, Suite 721 New York NY 10016</p></li>
          <li><i class="icon-phone"></i><p>+ 1235 2355 98</p></li>
          <li><i class="icon-envelope"></i><a href="#"><p style="color:#27E1CE">info@yoursite.com</p></a></li>
          <li><i class="icon-globe"></i><a href="#"><p style="color:#27E1CE">www.yoursite.com</p></a></li>
        </ul>
      </div>
      -->

      <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
        <div class="row" style="margin-top: 15px">
			<form role="form" method="POST">
				  <fieldset>
				  {% for field in form %}
					{% if field.label == "Mensagem" %}
						<div class="col-md-12">
							{{ field }}
						</div>
					{% else %}
						<div class="col-md-6">
						 {{ field }}
						</div>
					{% endif %}
				  {% if field.errors %}
					<label for="errors">{{ field.errors }}</label>
				  {% endif %}
				  {% endfor %}
				  </fieldset>  
			  <div class="col-md-12">
				<div class="form-group">
				  <input value="Enviar mensagem" class="btn btn-primary" type="submit">
				</div>
			  </div>
		   </form>
        </div>
      </div>

      <div class="col-md-6" id="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d496.1811094157565!2d-35.196915396494944!3d-5.792094122012815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3001b81b9dbed%3A0x6f3cb33019dc1df4!2sEscola+Dom%C3%A9stica+de+Natal!5e0!3m2!1spt-BR!2sbr!4v1513910921914" width="320" height="280" frameborder="0" style="border:0;width:96%" allowfullscreen></iframe>
      </div>
    </div>
  </div>  
</div>
<!-- FIM DA SEÇÃO CONTATO -->
	

{% endblock %}